@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mukta:wght@200&display=swap');

html, body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    background-color: #F7F2F2;
}

img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

header hr{
    border:0.5px solid #8A8070;
}

nav{
    text-align: center;
}

nav ul li{
    display: inline;
    text-transform: uppercase;
}

#logDelicias{
    position: absolute;
    width:120px;
    margin-left: 1%;
}

#logDelicias img{
    width: 100%;
}

.link{
    color:black;
}

.link:hover{
    color:#7ABA96;
}

#recetas article{
    display:flex;
    margin:4%;
}

#recetas article .imagen{
    width:75%;
}

#recetas article img{
    width: 100%;
}

#recetas article div:last-of-type{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color:rgb(228, 219, 181);
    margin-left: 5%;
    width: 80%;
}

#recetas article div:last-of-type:hover{
    box-shadow: 0 12px 16px rgb(115, 114, 114);
}

#recetas article h3{
    text-align: center;
}

.titleReceta{
    text-transform: none;
    color:black;
}

.titleReceta:hover{
    color:#8A8070
}

#recetas hr {
    border: 0.5px solid #7ABA96;
    margin-left: 5%;
    margin-right: 5%;
}

#recetas .fecha{
    margin: 0;
    text-align: center;
}

article div ul li{
    margin-bottom: 10px;
}

article div p, article div ul{
    margin-left: 5%;
    margin-right: 5%;
}

#paginacion{
    margin: 2%;
}

#paginacion ul {
    list-style: none;
    text-align: center;
}

#paginacion ul li{
    display: inline-block;
}

#paginacion ul li a{
    display: block;
    padding: 10px 20px;
    background-color: #7ABA96;
}

footer {
    background-color: rgb(52, 49, 49);
    text-align: center;
    padding: 2%;
}

footer p{
    display: inline;
}

a{
    color: white;
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
}