@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mukta:wght@200&display=swap');

html, body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #F7F2F2;
    position: sticky;
    top: 0;
}

img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

header hr{
    border:0.5px solid #8A8070;
}

nav{
    text-align: center;
}

nav ul li{
    display: inline;
    text-transform: uppercase;
}

#logDelicias{
    position: absolute;
    margin-left: 1%;
    width:120px;
}

#logDelicias img{
    width: 100%;
    height: 100%;
}

.link{
    color:black;
}

.link:hover{
    color:#7ABA96;
}

main section{
    background-color:rgb(228, 219, 181);
    border-radius: 15px;
    text-align: center;
    padding: 2% 5% 2% 5%;
    margin: 2% 30% 2% 30%;
}

#author,#fecha,#title,#difficulty,#time,#number,#ingredientes,#preparation{
    background:none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:1.5px solid grey;
    font-family: 'Arimo', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 3px;
}

#time,#number{
    padding: 6px;
    width: 15%;
    height: 15%;
}

#ingredientes, #preparation{
    width: 100%;
    height: 100%;
}

#submit{
    background-color: rgb(123, 193, 123);
    border:0;
    margin-top: 20px;
    padding:13px;
}

footer {
    background-color: rgb(52, 49, 49);
    text-align: center;
    padding: 2%;
}

footer p{
    display: inline;
}

a{
    color: white;
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
}