@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mukta:wght@200&display=swap');

html, body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 238, 238);
}

header{
    margin: 10px;
}

.login{
    width: 4%;
    height: 4%;
    float: right;
    margin-top:-55px;
}

img{ /*Centra imagenes*/
    display: block;
    margin-left:auto;
    margin-right:auto;
}

header hr{
    border:0.5px solid #8A8070;
}

nav{
    margin: auto;
    text-align: center;
}

li{
    display: inline;
    text-transform: uppercase;
}

.link{
    color:black;
}

.link:hover{
    color:#7ABA96;
}

main section{
    background-color: rgb(209, 201, 201);
    border-radius: 20px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top:2%;
    margin-bottom: 2%;  
    margin-left: 30%;
    margin-right:30%;

}

#author,#fecha,#title,#difficulty,#time,#number,#ingredientes,#preparation{
    font-family: 'Arimo', sans-serif;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background:none;
    padding: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#time,#number{
    width: 15%;
    height: 15%;
    padding: 6px;
}

#ingredientes, #preparation{
    width: 100%;
    padding-bottom: 30%;
    margin-top: 10px;
    margin-bottom: 5%;
    margin-left: -5px;
}

#submit{
    padding:13px;
    margin-top: 20px;
    margin-right: 2%;
    background-color: rgb(123, 193, 123);
    border:0;
}

footer {
    padding: 2%;
    margin-top:2%;
    background-color: rgb(52, 49, 49);
}

footer p{
    display: inline;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 20px;
}

.first_a {
    margin-left: 375px;
}