@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mukta:wght@200&display=swap');

html, body{
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    background-color: #F7F2F2;
}

img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

header hr{
    border:0.5px solid #8A8070;
}

nav{
    text-align: center;
}

nav ul li{
    display: inline;
    text-transform: uppercase;
}

#logDelicias{
    position: absolute;
    width:120px;
    margin-left: 1%;
}

#logDelicias img{
    width: 100%;
}

.link{
    color:black;
}

.link:hover{
    color:#7ABA96;
}

#carbonara{
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}

main section{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 15%;
}

#info li{
    display: inline;
    margin-left: 15%;
}

#preparation ol li, ul li{
    margin-bottom: 16px;
}

#preparation div img{
    margin-top: 2%;
    width: 28%;
    height: 28%;
    margin-bottom: 2%;
}

#fname,#email,#subject,#message{
    padding: 10px;
    padding-right: 100px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:1.5px solid grey;
    margin-top: 8px;
    margin-bottom: 2%;
}

#message{
    width: 60%;
}

input:last-of-type{
    padding:13px;
    margin-top: 20px;
    margin-right: 2%;
    background-color: rgb(123, 193, 123);
    border:0;
}

footer {
    background-color: rgb(52, 49, 49);
    text-align: center;
    margin-top: 2%;
    padding: 2%;
}

footer p{
    display: inline;
}

a{
    color: white;
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
}